/* @group Resets*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}
/* @end */

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

body {
	background: #fff url(../images/bg.png) repeat;
	text-align: left;
	font-size: 13px;
	font-family: Tahoma, Geneva, Verdana;
}

/* Main Wrapper */
#mt-wrapper {
	width: 961px;
	height: auto;
	margin: 0 auto;
	background: transparent url(../images/wrapper-bg.png) repeat-y top left;
}

/* Start: Header */
#mt-header {
	background: transparent url(../images/header-bg.png) repeat-x left top;
	width: 100%;
	height: 99px;
	float: left;
	position: relative;
}

/* Logo Wrapper */
#mt-logo {
	width: 205px;
	height: 61px;
	position: absolute;
	top: 0;
	left: -2px;
}

#mt-logo a,
#mt-logo a:link,
#mt-logo a:visited {
	background: transparent url(../images/logo.png) no-repeat;
	text-indent: -10000px;
	display: block;
	width: 205px;
	height: 61px;
	overflow: hidden;
}

/* Top Module Wrapper */
#mt-topMod {
	width: auto;
	height: 45px;
	position: absolute;
	top: 10px;
	right: 20px;
	font-size: 11px;
	color: #763e50;
}

#mt-topMod .moduletable ul,
#mt-topMod .menu,
#mt-topMod .menu,
#mt-topMod .moduletable form {
	list-style: none;
	margin: 0;
	padding: 0;
}

#mt-topMod .moduletable ul li,
#mt-topMod .menu li,
#mt-topMod .menu li,
#mt-topMod .moduletable p {
	float: left;
	margin: 0 10px 5px 0;
}

#mt-topMod .moduletable .input-task {
	marging: 0;
}

#mt-topMod .moduletable #form-login a,
#mt-topMod .moduletable #form-login a:link {
	color: #000;
	text-decoration: underline;
}

#mt-topMod .moduletable #form-login a:hover,
#mt-topMod .moduletable #form-login a:active {
	color: #763e50;
	text-decoration: none;
}

#mt-topMod .moduletable #form-login-username,
#mt-topMod .moduletable #form-login-password {
	height: 15px;
	border-left: 1px solid #a8acad;
	border-right: 1px solid #a8acad;
	font-size: 11px;
	color: #999;
	width: auto;
	padding: 2px;
}

#mt-topMod .moduletable #form-login-username {
	background: transparent url(../images/hor-sprite.png) repeat-x left -99px;
}

#mt-topMod .moduletable #form-login-password {
	background: transparent url(../images/hor-sprite.png) repeat-x left -99px;
}

#mt-topMod .moduletable #form-login-username .inputbox,
#mt-topMod .moduletable #form-login-password .inputbox {
	height: 15px;
	width: auto;
	border: none;
	padding: 0 0 0 14px;
	color: #999;
}

#mt-topMod .moduletable #form-login-username .inputbox {
	background: transparent url(../images/login-icon-user.png) no-repeat left center;
}

#mt-topMod .moduletable #form-login-password .inputbox {
	background: transparent url(../images/login-icon-pass.png) no-repeat left center;
}

#mt-topMod .moduletable #form-login-remember {
	padding: 0;
	margin: 0;
}

#mt-topMod .moduletable #form-login-forgotpass {
	border-right: 1px solid #763e50;
	padding-right: 10px;
	margin-right: 10px;
}

#mt-topMod .moduletable #form-login-signup {
	margin-right: 30px;
}

p#loginbutton {
	margin: 0;
	padding: 0;
}

p#loginbutton .button,
div.search .button {
	background: transparent url(../images/button-bg.png) repeat-x left center;  
	border: 1px solid #6c6164;
	color: #fff;
	font-weight: bold;
	font-size: 11px;
	padding:0 5px 2px 5px;
	cursor: pointer;
	cursor: hand;
}


/* Top Menu Wrapper */
#mt-topmenu {
	width: 100%;
	height: 35px;
	overflow: hidden;
	position: absolute;
	top: 63px;
	left: 0;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
}

#mt-topmenu a,
#mt-topmenu a:link {
	text-decoration: none;
	color: #808080;
}

#mt-topmenu .menu #current a,
#mt-topmenu a:hover,
#mt-topmenu a:active {
	color: #fff;
}

#mt-topmenu .menu #current {
	background: url(../images/main-nav-active.png) bottom center no-repeat;
}

#mt-topmenu .moduletable_menu,
#mt-topmenu .moduletable {
	width: 940px;
	height: 28px;
	padding: 7px 0 0 20px;
}

#mt-topmenu .menu,
#mt-topmenu ul {
	width: 100%;
	height: 100%;
	margin: 0;
}

#mt-topmenu .menu,
#mt-topmenu ul {
	list-style: none;
}

#mt-topmenu .menu li,
#mt-topmenu ul li {
	display: inline-block;
	margin: 0 30px 0 0;
	height: 27px;
}

#mt-topmenu .menu li:last-child,
#mt-topmenu ul li:last-child {
	margin-right: none;
}
/* End: Header */

/* Start: Content Panel */
#mt-contentPanel {
	width: 692px;
	height: auto;
	padding: 10px 8px 10px 15px;
	float: left;
	position: relative;
}

/* Breadcrumb */
.mt-breadcrumb {
	background: transparent url(../images/hor-sprite.png) repeat-x left -186px;
	width: 682px;
	height: 10px;
	overflow: hidden;
	font-size: 10px;
	color: #000;
	padding: 5px;
	margin-bottom: 12px;
}

.mt-breadcrumb a,
.mt-breadcrumb a:link,
.mt-breadcrumb a:hover,
.mt-breadcrumb a:active {
	color: #000;
}

/* Banner Container */
.mt-bannerContents {
	height: 250px;
	margin-bottom: 12px;
	text-align: center;
	position: relative;
}

.mt-banner-buttons {
	position: absolute;
	width: 60px;
	height: 20px;
	bottom: 10px;
	right: 30px;
}

.mt-banner-buttons #prev_button,
.mt-banner-buttons #next_button {
	width: 26px;
	height: 20px;
	display: block;
	float: left;
	margin-right: 3px;
	text-indent: -10000px;
	cursor: pointer;
	cursor: hand;
}

.mt-banner-buttons #next_button {
	background: transparent url(../images/next-button.png) no-repeat;
}

.mt-banner-buttons #prev_button {
	background: transparent url(../images/prev-button.png) no-repeat;
}

/* Roktabs */
.leading div.moduletable {
	width: 360px;
	height: 170px;
	overflow: hidden;
	float: right;
	padding: 3px;
}

.roktabs-wrapper .dark,
.roktabs-wrapper .light {
	border: none;
	color: #fff;
}

.roktabs-wrapper .dark p img,
.roktabs-wrapper .light p img {
	border: 1px solid #000 !important;
	width: 100px;
	height: 110px;
	float: left;
	margin: 0 10px 0 0 !important;
}

.roktabs-wrapper .dark .roktabs-container-tr,
.roktabs-wrapper .dark .roktabs-container-inner,
.roktabs-wrapper .dark .active-arrows,
.roktabs-wrapper .light .roktabs-container-tr,
.roktabs-wrapper .light .roktabs-container-inner,
.roktabs-wrapper .light .active-arrows {
	background: none;
}

.roktabs-wrapper .dark .roktabs-container-wrapper div.wrapper,
.roktabs-wrapper .light .roktabs-container-wrapper div.wrapper {
	background: #2e2e2e;
}

.roktabs-wrapper .dark .active-arrows .roktabs-links,
.roktabs-wrapper .light .active-arrows .roktabs-links {
	margin:0 24px 0 17px;
	width: 326px !important;
}

.roktabs-wrapper .dark .roktabs-links ul.roktabs-top,
.roktabs-wrapper .light .roktabs-links ul.roktabs-top {
	background: transparent url(../images/tabbg-dark.png) 0 0 repeat-x;
	list-style: none;
}

.dark .roktabs-links ul li,
.light .roktabs-links ul li {
	border: none !important;
	color: #fff !important;
	text-shadow: 0 1px 0 #535353;
}


.roktabs-wrapper .dark .roktabs-links ul.roktabs-top li.active span,
.roktabs-wrapper .light .roktabs-links ul.roktabs-top li.active span{
	background: transparent url(../images/tabbg-activebg-right.png) right center no-repeat;
	display: block;
	height: 32px;
}

.roktabs-wrapper .dark .roktabs-links ul.roktabs-top li.active div,
.roktabs-wrapper .light .roktabs-links ul.roktabs-top li.active div{
	background: transparent url(../images/tabbg-activebg-left.png) left center no-repeat;
	height: 32px;
}


.roktabs-wrapper .dark .roktabs-links ul.roktabs-top li.active,
.roktabs-wrapper .light .roktabs-links ul.roktabs-top li.active{
	background: transparent url(../images/tabbg-active-dark.png) 0 0 repeat-x;
	color: #fff;
	text-shadow: 0 1px 0 #121212;
	border-bottom: 1px solid #2e2e2e !important;
}

.roktabs-wrapper .dark .arrow-next,
.roktabs-wrapper .dark .arrow-prev,
.roktabs-wrapper .light .arrow-next,
.roktabs-wrapper .light .arrow-prev {
	cursor: hand;
	border: none;
}

.roktabs-wrapper .dark .arrow-next,
.roktabs-wrapper .light .arrow-next {
	right:0;
	background: url(../images/next-dark.png) 50% 0 no-repeat;
	width: 17px;
}

.roktabs-wrapper .dark .arrow-prev,
.roktabs-wrapper .light .arrow-prev {
	left:0;
	background: url(../images/prev-dark.png) 50% 0 no-repeat;
	width: 17px;
}

/* Main Contents*/

#mt-contentPanel .leading,
#mt-contentPanel .cols3,
#mt-contentPanel .cols2 {
	background: transparent url(../images/front-cont-bg.png) repeat;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	padding: 10px;
}

#mt-contentPanel .article_row {
	float: left;
}

#mt-contentPanel .cols3 {
	width: 191px;
}	

#mt-contentPanel .cols2 {
	width: 310px;
}	
	
#mt-contentPanel .cols3,
#mt-contentPanel .cols2 {
	padding: 12px;
	float: left;
	margin-left: 23px;
	margin-bottom: 10px;
}

#mt-contentPanel .cols3:first-child,
#mt-contentPanel .cols2:first-child {
	margin-left: 0;
}

#mt-contentPanel .leading img,
#mt-contentPanel .cols3 img,
#mt-contentPanel .cols2 img {
	border: 1px solid #fff;
	margin: auto;
}

.article_separator,
.row_separator {
	display: none;
}

/* Start: Right Panel */
#mt-rightPanel {
	background: transparent;
	width: 230px;
	height: auto;
	float: left;
	color: #6a6a6b;
}

#mt-rightPanel .mt-searchBox {
	text-align: right;
}

div.search .inputbox {
	border-top: 1px solid #a8acad;
	border-right: none;
	border-left: none;
	border-bottom: none;
	padding: 0 0 0 5px;
	margin: 0;
}

#mt-rightPanel .moduletable,
#mt-rightPanel .moduletable_menu,
#mt-rightPanel .moduletable_text {
	margin: 10px 0 0 0;
}

#mt-rightPanel .mt-rightMods {
	width: 100%;
	height: auto;
	margin: 10px 0 15px 0;
	font-size: 11px;
}

/* Right Panel Moduletable */
#mt-rightPanel .mt-rightMods .moduletable,
#mt-rightPanel .mt-rightMods .moduletable_menu,
#mt-rightPanel .mt-rightMods .moduletable_text {
	width: 88%;
	height: auto;
	padding-left: 12%;
	margin: 0 0 25px 0;
}

#mt-rightPanel .mt-rightMods .moduletable h3,
#mt-rightPanel .mt-rightMods .moduletable_menu h3,
#mt-rightPanel .mt-rightMods .moduletable_text h3 {
	background: #000 url(../images/moduletable-h3-bg.png) no-repeat left top;
	color: #fff;
	padding: 3px 0 3px 20px; 
	margin-left: -30px;
	font-size: 18px;
	margin-bottom: 7px;
}

/* Right Panel Moduletable Menu */
#mt-rightPanel .mt-rightMods .menu {
	list-style: none;
	margin: 0;
}

#mt-rightPanel .mt-rightMods .menu,
#mt-rightPanel .mt-rightMods .menu a,
#mt-rightPanel .mt-rightMods .menu a:link,
#mt-rightPanel .mt-rightMods .moduletable li a,
#mt-rightPanel .mt-rightMods .moduletable li a:link,
#mt-rightPanel .mt-rightMods .moduletable li a:hover,
#mt-rightPanel .mt-rightMods .moduletable li a:active {
	font-size: 12px;
	font-weight: bold;
	color: #003856;
	text-decoration: none;
}

#mt-rightPanel .mt-rightMods .menu li a:hover,
#mt-rightPanel .mt-rightMods .menu li a:active,
#mt-rightPanel .mt-rightMods .menu #current a {
	color: #e8487a;
}

#mt-rightPanel .mt-rightMods .menu #current {
	text-indent: 20px;
}

#mt-rightPanel .mt-rightMods .menu li {
	background: transparent url(../images/link-bg.png) repeat-x bottom left;
	display: block;
	height: 20px;
	padding: 0;
	margin: 10px 0 0 0;
	text-indent: 10px;
}

#mt-rightPanel .mt-rightMods .menu li:last-child {
	background: none;
}

#mt-rightPanel .mt-rightMods .menu li:first-child {
	margin-top: 0;
}
/* End: Content Panel */
/* End: Main Wrapper */

/* Start: Mid Content Panel */
#mt-midContentPanel {
	width: 100%;
	height: auto;
	background: #000 /*url(../images/midcontent-bg.png) repeat-x left bottom*/;
	color: #bdbdbd;
	font-size: 11px;
}

.mt-midContentPanelWrapper {
	width: 960px;
	margin: 0 auto;
	background: transparent;
	padding-top: 20px;
}

.mt-midContentPanelWrapper .mt-midContentMod {
	background: #050505;
	width: 290px;
	height: auto;
	color: #bdbdbd;
	float: left;
	margin-left: 18px;
	margin-right: 8px;
}

.mt-midContentPanelWrapper .mt-midContentMod .moduletable,
.mt-midContentPanelWrapper .mt-midContentMod .moduletable_menu,
.mt-midContentPanelWrapper .mt-midContentMod .moduletable_text {
	padding: 13px;
}
/* End: Mid Content Panel */

/* Start: Footer Content */
#mt-footerTopBg {
	width: 100%;
	height: 5px;
	background: transparent url(../images/hor-sprite.png) repeat-x left -118px;
}

#mt-footerContent {
	background: transparent url(../images/footer-bg.png) repeat;
	width: 100%;
	min-height: 48px;
}

#mt-footerContent .mt-footerContentWrapper {
	background: transparent;
	width: 942px;
	height: auto;
	margin: 0 auto;
	padding: 7px 0 0 18px;
}

/* Footer Logo */
#mt-footerContent .mt-footerContentWrapper .mt-templateLogo {
	width: 118px;
	height: 29px;
	float: left;
}

#mt-footerContent .mt-footerContentWrapper .mt-templateLogo a {
	display: block;
	width: 118px;
	height: 29px;
	background: transparent url(../images/footer-logo.png) no-repeat;
	text-indent: -10000px;
}

/* Footer Module */
#mt-footerContent .mt-footer {
	width: 730px;
	text-align: right;
	float: right;
	color: #fff;
}

#mt-footerContent .mt-footer .moduletable,
#mt-footerContent .mt-footer .moduletable_menu {
	padding: 8px 0 0 5px;
	float: right;
}

#mt-footerContent .mt-footer .menu,
#mt-footerContent .mt-footer ul {
	margin: 0;
}

#mt-footerContent .mt-footer .menu,
#mt-footerContent .mt-footer ul {
	list-style: none;
	font-size: 12px;
	font-weight: bold;
	color: #f9d8e2;
}

#mt-footerContent .mt-footer .menu li,
#mt-footerContent .mt-footer ul li {
	display: block;
	float: left;
	margin: 0 20px 10px 0;
}

#mt-footerContent .mt-footer .menu li a,
#mt-footerContent .mt-footer ul li a {
	text-decoration: none;
	color: #f9d8e2;
}

#mt-footerContent .mt-footer .menu li a:hover,
#mt-footerContent .mt-footer ul li a:active,
#mt-footerContent .mt-footer .menu #current a {
	color: #000;
}
/* End: Footer Content */
